body{
background-color: rgb(11, 98, 174);
}
h3{
    background-color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container{
    padding: 50px;
    border: solid white 2px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.register{
    text-align: center;
    
}